<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.pixels.Inventario">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:hardwareAccelerated="true"
        android:label="@string/app_name"
        android:resizeableActivity="true"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication">
        <activity
            android:name=".View.Activity.Gestion_Productos.AgregarProductos.AgregarProductos"
            android:exported="false"
            android:theme="@style/Theme.MyApplication.NoActionBar">
        </activity>
        <activity
            android:name=".View.Activity.Ajustes.ConfiguracionBaseDatos.CrearBaseDatosMYSQL"
            android:exported="false"
            android:theme="@style/Theme.MyApplication.NoActionBar"></activity>
        <activity android:name=".View.Activity.Ajustes.ExportarDatos.ExportarDatos">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".View.Activity.Ajustes.Ajustes" />
        </activity>
        <activity android:name=".View.Activity.Ajustes.ImportarDatos.ImportarDatos">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".View.Activity.Ajustes.Ajustes" />
        </activity>
        <activity
            android:name=".View.Activity.Ajustes.ConfiguracionBaseDatos.cambiarMySQL"
            android:exported="false"
            android:theme="@style/Theme.MyApplication.NoActionBar" />
        <activity android:name=".View.Activity.Ajustes.ConfiguracionContra.configContra">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".View.Activity.Ajustes.Ajustes" />
        </activity>
        <activity
            android:name=".View.Activity.Ajustes.Ajustes"
            android:theme="@style/Theme.MyApplication.NoActionBar" />
        <activity
            android:name=".View.Activity.Menu_Inicio.MenuInicio"
            android:theme="@style/Theme.MyApplication.NoActionBar" />
        <activity
            android:name=".View.Activity.Gestion_Productos.VerInventario"
            android:label="@string/title_opcion_detail"
            android:parentActivityName=".View.Activity.Menu_Inicio.MenuInicio"
            android:theme="@style/Theme.MyApplication.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.pixels.Inventario.View.Activity.Menu_Inicio.MenuInicio" />
        </activity>
        <activity
            android:name=".View.Activity.InicioA.Configuracion_Inicial.configuracionI"
            android:exported="false" />
        <activity
            android:name=".View.Activity.InicioA.Inicio"
            android:exported="true"
            android:theme="@style/Theme.MyApplication.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>